__pycache__/
*.py[cod]
.venv/
venv/
env/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
.env
.env.local
*.sqlite3
media/
staticfiles/
node_modules/
dist/
build/
.next/
.vercel
.DS_Store
.idea/
.vscode/

# Front
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
